---
title: Dashboard
layout: default
---

<h2>Username: fzimmerman</h2>

<h3>Zeroth Draft</h3>

Platform| User Id | Status
---------|----------|---------
Facebook | FredZimmerman1 | Processing
LinkedIn | wfzimmerman | Processing
Twitter  | fredzannarbor | Processing

## AltBrains


| Column A | Column B | Column C|
---------|----------|---------
{% for altbrain in site.altbrains %}
{% if altbrain.title %}
{{ altbrain.title }}]({{ altbrain.url }})  | Twitter search
{% endif %}
{%- endfor -%}

## Nimble Books

Title | ISBN | Status
------|-------|------
