---
layout: default
title: Product Management -- Voice
---
<p><strong>Seasoned product manager and programmer wants to lead teams to meet big challenges in voice.</strong></p>

{% assign first_accomplishment = true %}

{% for employer in site.employers %}

{% for accomplishment in site.accomplishments %}

{% if accomplishment.resume_goal == "voice_pm" and employer.title == accomplishment.employer and first_accomplishment == true %}

{{ employer.content }}

<ul>

<li>{{ accomplishment.content }}</li>

{% assign first_accomplishment = false %}

{% elsif accomplishment.resume_goal == "voice_pm" and employer.title == accomplishment.employer and first_accomplishment == false %}

<li>{{ accomplishment.content }}</li>

{% assign first_accomplishment = false %}

{% else %}

{% endif %}

{% endfor %}
</ul>

{% assign first_accomplishment = true %}

{% endfor %}